body {
	background-color: #f5f5f5;
}

.row {
	margin-left: 0px;
	margin-top: 10px;
	overflow: scroll;
}

.input-group-addon {
	width: 100px;
	text-alignment: left;
}

#movie_title, 
#quote {
	width: 440px;
}